/* @font-face {
  font-family: 'Cairo';
  src: url('../fonts/Cairo-Regular.eot');
  src: url('../fonts/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cairo-Regular.woff') format('woff'),
    url('../fonts/Cairo-Regular.woff2') format('woff2'),
    url('../fonts/Cairo-Regular.ttf') format('truetype');
  font-weight: normal;
}

html,
body {
  font-family: 'Cairo' !important;

} */

@font-face {
  font-family: "Alibaba-Regular";
  src: url(../../../frontend/assets/fonts/Alibaba-Regular.woff2) format("woff2"),
    url(../../../frontend/assets/fonts/Alibaba-Regular.woff) format("woff");
  font-display: swap;
}

html,
body {
  font-family: "Alibaba-Regular" !important;

}